.home {
    width: 100vw;
    height: 100vh;

    .home-img {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }

    position: relative;

    .home-nav {
        width: 60vw;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .nav-item {
            backdrop-filter: blur(10px);
            background: hsla(0, 0%, 100%, .05);
            text-shadow: 0.1em 0.1em 0.2em #000;
            cursor: pointer;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18rem;
            height: 5rem;
            margin-top: 20px;
            border: 2px solid white;
            border-radius: 10px;
            .link{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}